<p>Bonjour,</p>

<p>Vous avez été invité(e) à rejoindre <strong>Entrelacs</strong>, l'application de gestion d'habitat partagé.</p>

<p>Cliquez sur le bouton ci-dessous pour créer votre compte et définir votre mot de passe :</p>

<p style="text-align: center;">
  <a href="<%= accept_invitation_url(@resource, invitation_token: @token) %>" class="button">
    Accepter l'invitation
  </a>
</p>

<% if @resource.invitation_due_at %>
  <p><em>Cette invitation expire le <%= l(@resource.invitation_due_at, format: :long) %>.</em></p>
<% end %>

<p>Si vous n'avez pas demandé cette invitation, vous pouvez ignorer cet email.</p>
