<p>Bonjour<%= @resource.first_name.present? ? " #{@resource.first_name}" : "" %>,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe sur Entrelacs.</p>

<p>Cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe :</p>

<p style="text-align: center;">
  <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" class="button">
    Réinitialiser mon mot de passe
  </a>
</p>

<p>Si vous n'avez pas fait cette demande, vous pouvez ignorer cet email. Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien ci-dessus.</p>
